In [3]:
from pathlib import Path

from ml.util import load_url_data

In [8]:
df = load_url_data(Path('~/src/autoparse/data'))

In [9]:
df.head()

                                                 url  label
0                   alexandragalleries.blogspot.com/      0
1  nbc.com/classic-tv/quantum-leap/video/categori...      0
2  two.jhvjhvhvhjv.biz/bsww4q9fty\nholotilicga.me...      1
3                           vicki-russell.com/cv.htm      0
4                                    cooliohigh.com/      0

In [10]:
sample_df = df[:1000]

In [11]:
len(sample_df)

1000

In [12]:
sample_df.to_csv('~/src/autoparse/data/malicious_urls/sample_data.csv', header=True, index=False)